*{
    
}
body{
    background-image: url("https://images.unsplash.com/photo-1471696035578-3d8c78d99684?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    font-family: 'Bree Serif', serif;
    font-family: 'Concert One', sans-serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Protest Revolution', sans-serif;
    
    text-align: center;
    background-size: cover;
    margin-bottom: 50px;
    color: white;
   margin: 20%;
    }

input{
    background-color: rgb(206, 174, 134) color(rgb(226, 213, 171));
    border-radius: 50px, color rgb(42, 50, 165);
    
    color: rgb(125, 105, 196); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: #ffd6a0;
}

/* footer{
    
    display: flex;
    
}  */